@import '../../variables';

.container{
    position: absolute;
    top: $navbarHeight;
    left: $sidebarWidth;
    // background-color: aqua;
    width: calc(100% - #{$sidebarWidth});
    min-height: calc(100vh - #{$navbarHeight});
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    padding: 1em 1.3em 4em 1.3em;
}

button{
    @include normalButton;
    position: absolute;
    bottom:1em;
    &:disabled{
        display: none;
    }
}
.loader{
    position: absolute;
    align-self: center;
}