<ng-container *ngIf="character && !isLoading; then ready; else loading"></ng-container>

<ng-template #loading>
    
    <div class="loader"></div>
</ng-template>
<ng-template #ready>

<div class="container">
    <div class="back_box">
        <button class="back" (click)="goBack()"> <i class="fas fa-arrow-left"></i> Back</button>
    </div>
    <main>
        <div class="img_box">
            <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}">
        </div>
        <div class="desc_box">
            <h1>{{character.name}}</h1>
            <p>{{character.description.length ? character.description : 'Data not provided.'}}</p>
            <a href="{{character.urls[0].url}}" target="_blank">
                <button>Visit at Marvel</button>
            </a>
            <button (click)= "showDetails()">Check Me</button>
        </div>
    </main>
    <aside>
        <h1>Appeared:</h1>
        <div class="appearience_box">
            <button>Comics</button>
            <button>Series</button>
            <button>Events</button>
        </div>
    </aside>
</div>
    
</ng-template>