@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// variables

$primary : #ED1D24;
$secondary : #56423E;
$accent : #BEA6A1;
$textWhite: #fff;
$headerSize : 2em;
$headerFont : Lora;
$bodyFont: Roboto;
$bodySize: 0.9em;

$navbarHeight: 4em;
$sidebarWidth: 12em;
$buttonNormalWidth: 11rem;
$buttonNormalHeight: 3rem;

$singleCardRatio: 0.75;
$singleCardHeight: 250px;

$breakpoint : 1104px;
$mobile : 480px;
$mobileReduction : 4em;
//// Components 

// button 
@mixin normalButton {
    height: $buttonNormalHeight;
    width: $buttonNormalWidth;
    background-color: $primary;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    font-family: $bodyFont;
    font-size: $bodySize;
    color: $textWhite;
    font-weight: 700;
    border:none;
    cursor: pointer;
}

@mixin smallButton {
    @include normalButton();
    max-width: 20%;
    height: 30px;
}
@mixin detailsButton {
    @include normalButton();
    background-color: $secondary;
    width: 100px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: $headerFont;
}


//  loader from https://projects.lukehaas.me/css-loaders/
.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: $secondary;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  