@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary : #ED1D24;
$secondary : #56423E;
$accent : #BEA6A1;
$textWhite: #fff;
$headerSize : 2em;
$headerFont : Lora;
$bodyFont: Roboto;
$bodySize: 1.2em