<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container">
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
    <app-single-card></app-single-card>
</div>