<p>Search character by name</p>
<form>
    <i class="fas fa-search"></i>
    <input type="text" name="name" id="name" placeholder="Name...">
    <button type="submit">Search</button>
</form>
<p>Search by first letter</p>
<div class="letters_container">
    <button>A</button>
    <button>B</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button>
    <button>A</button><button>A</button><button>A</button><button>A</button><button>A</button><button>A</button><button>A</button><button>A</button><button>A</button><button>A</button>
</div>
<p>Powered by Marvel</p>